<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uneed.yuni">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <activity
            android:name="com.uneed.yuni.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.uneed.yuni"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>